body {
  background: #eecda3;
  background: -webkit-linear-gradient(to right, #daeea3, #af62ef);
  background: linear-gradient(to right, #eecda3, #ef629f);
  min-height: 100vh;
}

.navBar {
  /* height: 8vh; */
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(244, 217, 255);
}

.navLinks {
  display: flex;
}

.navLinks li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  position: relative;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}

.navLinks li:hover {
  background-color: rgba(165, 165, 165, 0.397);
  border-radius: 50%;
}

.navLinks li i {
  font-size: 2rem;  
}

.cartCounter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 30px;
  top: 25px;
  height: 30px;
  width: 30px;
  font-weight: bold;
  border-radius: 50%;
  background-color: rgb(202, 134, 241);
}

/* h1 {font-family: arial; font-size: 1em; font-weight: bold; } */

h1 {
  -webkit-text-stroke: 1px rgb(251, 209, 255);
  color: rgb(255, 208, 255);
  font-family: arial; 
  font-size: 2em; 
  font-weight: bold;
  text-shadow:
      3px 3px 0 rgb(255, 255, 255),
    -1px -1px 0 rgb(254, 245, 255),  
     1px -1px 0 rgb(255, 180, 180),
     -1px 1px 0 rgb(255, 255, 255),
      1px 1px 0 rgb(255, 255, 255);
}

.descripcion {
  color: rgb(149, 149, 149);
  display: block;
  font-style: italic;
  font-weight: normal;
  /* max-width: 20rem; */
  width: 15rem;
}


@import url('https://fonts.googleapis.com/css?family=Numans');

.fondo-titulo{
  background-color: rgba(0, 0, 0, 0.3);
}

.rosa{
  background-color: rgba(251, 50, 225, 0.918);
}

.tex-blanco{
  color: white;
}

tex-negro{
color: rgba(0, 0, 0, 0.918);
}

.tex-rosa{
  color: rgba(251, 50, 225, 0.918);
  font-weight: bolder;
}

html,body{
background-position: center;
background-image: url('/img/vegetables02.jpg');
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
height: 100%;
font-family: 'Numans', sans-serif;
}


.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
/* background-color: rgba(0,0,0,0.5) !important; */
/* background-color: rgba(63, 63, 63, 0.8) !important; */
background-color: rgb(255, 255, 255) !important;

}

.social_icon span{
font-size: xx-large;
margin-left: 10px;
/* color:rgba(63, 63, 63, 0.8); */
color:rgb(255, 255, 255);
/* color: #FFC312; */
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
/* background-color: #FFC312; */
/* background-color: rgba(251, 50, 225, 0.918); */
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: rgba(251, 50, 225, 0.918);
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: white;
/* background-color: #FFC312; */
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: black;
}

.links a{
margin-left: 4px;
}