body {
  background: #eecda3;
  background: -webkit-linear-gradient(to right, #daeea3, #af62ef);
  background: linear-gradient(to right, #eecda3, #ef629f);
  min-height: 100vh;
}

h1 {font-family: arial; font-size: 1em; font-weight: bold; }


@import url('https://fonts.googleapis.com/css?family=Numans');

.fondo-titulo{
  background-color: rgba(0, 0, 0, 0.3);
}

.rosa{
  background-color: rgba(251, 50, 225, 0.918);
}

.tex-blanco{
  color: white;
}

tex-negro{
color: rgba(0, 0, 0, 0.918);
}

.tex-rosa{
  color: rgba(251, 50, 225, 0.918);
  font-weight: bolder;
}

html,body{
background-position: center;
background-image: url('img/vegetables02.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}


.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
/* background-color: rgba(0,0,0,0.5) !important; */
/* background-color: rgba(63, 63, 63, 0.8) !important; */
background-color: rgb(255, 255, 255) !important;

}

.social_icon span{
font-size: xx-large;
margin-left: 10px;
/* color:rgba(63, 63, 63, 0.8); */
color:rgb(255, 255, 255);
/* color: #FFC312; */
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
/* background-color: #FFC312; */
/* background-color: rgba(251, 50, 225, 0.918); */
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: rgba(251, 50, 225, 0.918);
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: white;
/* background-color: #FFC312; */
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: black;
}

.links a{
margin-left: 4px;
}